body {
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 2% 0 0 5%;
    color: rgb(0, 139, 231);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.inputText {
    margin: 2% 2% 0 20px;
    padding: 10px 25px;
    width: 50%;
    display: inline-block;
}

.outputText {
    width: 30%;
    height: 80%;
    padding: 10px;
    background-color: aliceblue;
    margin: 0 4% 0 0;
    display: block;
    float: right;
}

footer {
    text-align: center;
    padding: 40px 0;
}